<div class="min-h-screen bg-gray-100 p-6">

  <div class="max-w-6xl mx-auto">

    <app-spinner [isLoading]="isLoading" [loaderSize]="100"></app-spinner>

    <!-- BACK -->
    <div class="mb-6">
      <button (click)="goBackToCart()" class="text-gray-500 text-sm flex items-center gap-2 hover:text-red-700">

        <!-- SVG -->
        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
        </svg>

        Back to Cart
      </button>
    </div>

    <!-- HEADER -->
    <div class="flex items-center gap-4 mb-8">
      <div class="w-12 h-12 bg-red-700 rounded-xl flex items-center justify-center text-white shadow-lg">

        <!-- SVG -->
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M3 3h18l-2 13H5L3 3z" />
        </svg>

      </div>

      <div>
        <h1 class="text-2xl font-bold">CHECKOUT</h1>
        <p class="text-gray-500 text-sm">
          Complete your order securely
        </p>
      </div>
    </div>

    <div class="grid lg:grid-cols-2 gap-8">

      <!-- ================= LEFT ================= -->
      <div class="bg-white p-6 rounded-xl shadow">

        <form [formGroup]="checkoutForm" (ngSubmit)="placeOrder()" class="space-y-6">

          <!-- DELIVERY -->
          <div>
            <h3 class="text-sm font-semibold text-gray-500 mb-4">
              DELIVERY DETAILS
            </h3>

            <textarea formControlName="address" placeholder="Full Address..."
              class="w-full border rounded-lg focus:border-red-600 p-3 mb-3 border-gray-300 focus:outline-none focus:ring-1 focus:ring-red-500"></textarea>

            <div class="grid grid-cols-3 gap-3">
              <input formControlName="city" class="border border-gray-300 p-3 rounded-lg 
         focus:border-red-600 focus:outline-none focus:ring-1 focus:ring-red-500 " />
              <input formControlName="state" placeholder="State"
                class="border p-3 border-gray-300 rounded-lg focus:border-red-600 focus:outline-none focus:ring-1 focus:ring-red-500" />
              <input formControlName="pincode" placeholder="Pincode"
                class="border p-3 rounded-lg border-gray-300 focus:border-red-600 focus:outline-none focus:ring-1 focus:ring-red-500" />
            </div>
          </div>

          <!-- PAYMENT -->
          <div>
            <h3 class="text-sm font-semibold text-gray-500 mb-4">
              PAYMENT METHOD
            </h3>

            <div class="grid grid-cols-2 gap-4">

              <!-- ONLINE -->
              <label *ngIf="allowedPayment.includes('online')"
                class="border-2 p-4 rounded-xl cursor-pointer flex items-center justify-between transition-all"
                [class.border-red-600]="checkoutForm.get('payment_method')?.value === 'online'"
                [class.bg-red-50]="checkoutForm.get('payment_method')?.value === 'online'">

                <div class="flex items-center gap-3">

                  <!-- HIDDEN RADIO -->
                  <input type="radio" value="online" formControlName="payment_method" class="hidden" />

                  <!-- CUSTOM RADIO -->
                  <div class="w-5 h-5 rounded-full border-2 flex items-center justify-center"
                    [class.border-red-600]="checkoutForm.get('payment_method')?.value === 'online'"
                    [class.border-gray-300]="checkoutForm.get('payment_method')?.value !== 'online'">

                    <div *ngIf="checkoutForm.get('payment_method')?.value === 'online'"
                      class="w-2.5 h-2.5 bg-red-600 rounded-full">
                    </div>
                  </div>

                  <!-- TEXT -->
                  <div>
                    <p class="font-semibold">Online</p>
                    <p class="text-xs text-gray-400">UPI / Card</p>
                  </div>

                </div>

                <!-- SVG -->
                <svg class="w-5 h-5" [class.text-red-600]="checkoutForm.get('payment_method')?.value === 'online'"
                  [class.text-gray-400]="checkoutForm.get('payment_method')?.value !== 'online'" fill="none"
                  stroke="currentColor" viewBox="0 0 24 24">

                  <rect x="2" y="5" width="20" height="14" rx="2" stroke-width="2" />
                </svg>

              </label>

              <!-- CASH -->
              <label *ngIf="allowedPayment.includes('cash')"
                class="border-2 p-4 rounded-xl cursor-pointer flex items-center justify-between transition-all"
                [class.border-red-600]="checkoutForm.get('payment_method')?.value === 'cash'"
                [class.bg-red-50]="checkoutForm.get('payment_method')?.value === 'cash'">

                <div class="flex items-center gap-3">

                  <!-- HIDDEN RADIO -->
                  <input type="radio" value="cash" formControlName="payment_method" class="hidden" />

                  <!-- CUSTOM RADIO -->
                  <div class="w-5 h-5 rounded-full border-2 flex items-center justify-center"
                    [class.border-red-600]="checkoutForm.get('payment_method')?.value === 'cash'"
                    [class.border-gray-300]="checkoutForm.get('payment_method')?.value !== 'cash'">

                    <div *ngIf="checkoutForm.get('payment_method')?.value === 'cash'"
                      class="w-2.5 h-2.5 bg-red-600 rounded-full">
                    </div>
                  </div>

                  <!-- TEXT -->
                  <div>
                    <p class="font-semibold">Cash</p>
                    <p class="text-xs text-gray-400">Pay later</p>
                  </div>

                </div>

                <!-- SVG -->
                <svg class="w-5 h-5" [class.text-red-600]="checkoutForm.get('payment_method')?.value === 'cash'"
                  [class.text-gray-400]="checkoutForm.get('payment_method')?.value !== 'cash'" fill="none"
                  stroke="currentColor" viewBox="0 0 24 24">

                  <path stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M3 10h18M7 15h1m4 0h5" />
                </svg>

              </label>

            </div>
          </div>

          <!-- BUTTON -->
          <button type="submit"
            class="w-full bg-red-700 hover:bg-red-800 text-white py-3 rounded-lg shadow flex items-center justify-center gap-2">

            <!-- SVG -->
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>

            Place Order
          </button>

        </form>

      </div>

      <!-- ================= RIGHT ================= -->
      <div class="bg-white p-6 rounded-xl shadow h-fit">

        <h3 class="text-sm font-semibold text-gray-500 mb-4">
          ORDER SUMMARY
        </h3>

        <div class="space-y-4">

          <div *ngFor="let item of cartItems" class="flex justify-between items-center">

            <div>
              <p class="font-semibold text-sm">
                {{ item.product.name }}
              </p>
              <p class="text-xs text-gray-400">
                Qty: {{ item.quantity }}
              </p>
            </div>

            <p class="font-bold">
              ₹ {{ item.product.price * item.quantity }}
            </p>

          </div>

        </div>

        <!-- TOTAL -->
        <div class="border-t mt-6 pt-4 space-y-2">

          <div class="flex justify-between text-sm text-gray-500">
            <span>Shipping</span>
            <span class="text-green-600 font-bold">FREE</span>
          </div>

          <div class="flex justify-between text-lg font-bold">
            <span>Total</span>
            <span>₹ {{ totalAmount }}</span>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>