<div class="min-h-screen bg-gray-100 p-6">

  <div class="max-w-6xl mx-auto">

    <app-spinner [isLoading]="isLoading" [loaderSize]="100"></app-spinner>

    <!-- BACK -->
    <div class="mb-6">
      <button (click)="goBackToCart()" class="text-gray-500 text-sm flex items-center gap-2 hover:text-red-700">

        <!-- SVG -->
        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
        </svg>

        Back to Cart
      </button>
    </div>

    <!-- HEADER -->
    <div class="flex items-center gap-4 mb-8">
      <div class="w-12 h-12 bg-red-700 rounded-xl flex items-center justify-center text-white shadow-lg">

        <!-- SVG -->
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M3 3h18l-2 13H5L3 3z" />
        </svg>

      </div>

      <div>
        <h1 class="text-2xl font-bold">CHECKOUT</h1>
        <p class="text-gray-500 text-sm">
          Complete your order securely
        </p>
      </div>
    </div>

    <div class="grid lg:grid-cols-2 gap-8">

      <!-- ================= LEFT ================= -->
      <div class="bg-white p-6 rounded-xl shadow">

        <form [formGroup]="checkoutForm" (ngSubmit)="placeOrder()" class="space-y-6">

          <!-- DELIVERY -->
          <div>
            <div class="flex justify-between mb-4">
              <h3 class="text-sm font-semibold text-gray-500 ">
                DELIVERY DETAILS
              </h3>
              <a class="flex items-center text-red-500 border px-3 py-1 rounded-md text-sm hover:ring-1 hover:ring-red-400"
                href="/user/address">Add more</a>
            </div>

            <div class="flex-1 overflow-y-auto hide-scrollbar space-y-3 pr-1">

              <label *ngFor="let addr of addresses" (click)="checkoutForm.patchValue({ address_id: addr.id })"
                class="block border rounded-xl p-3 cursor-pointer" [ngClass]="{
    'border-2 border-red-400 bg-red-50':
    addr.id === checkoutForm.get('address_id')?.value
  }">

                <div class="flex justify-between items-start">

                  <!-- LEFT -->
                  <div class="flex gap-3 items-start">

                    <input type="radio" formControlName="address_id" [value]="addr.id" class="hidden" />

                    <div class="flex-1">
                      <p class="font-semibold">
                        {{ addr.address_type || 'Address' }}

                        <span *ngIf="addr.is_default" class="text-xs bg-red-500 text-white px-2 py-0.5 rounded ml-1">
                          Default
                        </span>
                      </p>

                      <p class="text-sm text-gray-600">
                        {{ addr.address }}
                      </p>

                      <span *ngIf="addr.is_current" class="text-green-500 text-xs">
                        Current Location
                      </span>
                    </div>

                  </div>


                </div>

              </label>
              <p *ngIf="formErrors.address_id" class="text-red-500 text-xs mt-2">
                {{ formErrors.address_id }}
              </p>

            </div>

          </div>

          <!-- PAYMENT -->
          <div>
            <h3 class="text-sm font-semibold text-gray-500 mb-4">
              PAYMENT METHOD
            </h3>

            <div class="grid grid-cols-2 gap-4">

              <!-- ONLINE -->
              <label *ngIf="allowedPayment.includes('online')"
                class="border-2 p-4 rounded-xl cursor-pointer flex items-center justify-between transition-all"
                [class.border-red-600]="checkoutForm.get('payment_method')?.value === 'online'"
                [class.bg-red-50]="checkoutForm.get('payment_method')?.value === 'online'">

                <div class="flex items-center gap-3">
                  <input type="radio" value="online" formControlName="payment_method" class="hidden" />

                  <div class="w-5 h-5 rounded-full border-2 flex items-center justify-center"
                    [class.border-red-600]="checkoutForm.get('payment_method')?.value === 'online'"
                    [class.border-gray-300]="checkoutForm.get('payment_method')?.value !== 'online'">

                    <div *ngIf="checkoutForm.get('payment_method')?.value === 'online'"
                      class="w-2.5 h-2.5 bg-red-600 rounded-full">
                    </div>
                  </div>

                  <div>
                    <p class="font-semibold">Online</p>
                    <p class="text-xs text-gray-400">UPI / Card</p>
                  </div>
                </div>
              </label>

              <!-- CASH -->
              <label *ngIf="allowedPayment.includes('cash')"
                class="border-2 p-4 rounded-xl cursor-pointer flex items-center justify-between transition-all"
                [class.border-red-600]="checkoutForm.get('payment_method')?.value === 'cash'"
                [class.bg-red-50]="checkoutForm.get('payment_method')?.value === 'cash'">

                <div class="flex items-center gap-3">
                  <input type="radio" value="cash" formControlName="payment_method" class="hidden" />

                  <div class="w-5 h-5 rounded-full border-2 flex items-center justify-center"
                    [class.border-red-600]="checkoutForm.get('payment_method')?.value === 'cash'"
                    [class.border-gray-300]="checkoutForm.get('payment_method')?.value !== 'cash'">

                    <div *ngIf="checkoutForm.get('payment_method')?.value === 'cash'"
                      class="w-2.5 h-2.5 bg-red-600 rounded-full">
                    </div>
                  </div>

                  <div>
                    <p class="font-semibold">Cash</p>
                    <p class="text-xs text-gray-400">Pay later</p>
                  </div>
                </div>
              </label>

            </div>

            <!-- PAYMENT ERROR -->
            <p *ngIf="formErrors.payment_method" class="text-red-500 text-xs mt-2">
              {{ formErrors.payment_method }}
            </p>

          </div>

          <!-- BUTTON -->
          <button type="submit"
            class="w-full bg-red-700 hover:bg-red-800 text-white py-3 rounded-lg shadow flex items-center justify-center gap-2">

            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>

            Place Order
          </button>

        </form>

      </div>

      <!-- ================= RIGHT ================= -->
      <div class="bg-white p-6 rounded-xl shadow h-fit">

        <h3 class="text-sm font-semibold text-gray-500 mb-4">
          ORDER SUMMARY
        </h3>

        <div class="space-y-4">

          <div *ngFor="let item of cartItems" class="flex justify-between items-center">

            <div>
              <p class="font-semibold text-sm">
                {{ item.product.name }}
              </p>
              <p class="text-xs text-gray-400">
                Qty: {{ item.quantity }}
              </p>
            </div>

            <p class="font-bold">
              ₹ {{ item.product.price * item.quantity }}
            </p>

          </div>

        </div>

        <!-- TOTAL -->
        <div class="border-t mt-6 pt-4 space-y-2">

          <div class="flex justify-between text-sm text-gray-500">
            <span>Shipping</span>
            <span class="text-green-600 font-bold">FREE</span>
          </div>

          <div class="flex justify-between text-lg font-bold">
            <span>Total</span>
            <span>₹ {{ totalAmount }}</span>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>