.loader-overlay {
   position: fixed;   /* MUST BE FIXED */
  inset: 0;   
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spin-loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #991B1B;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
