.product-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 6px;
}

.out-stock {
  color: red;
  font-weight: bold;
}

.qty-box {
  display: flex;
  align-items: center;
  gap: 6px;
}

.qty-box button {
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
}

.qty-box input {
  width: 40px;
  text-align: center;
}

.cart-btn {
  background-color: black;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 18px;
}
