

<div class="min-h-screen flex items-center justify-center bg-gradient-to-br from-[#dcd6e6] via-[#e7d6d9] to-[#f1d6d9] py-16">
 <app-spinner [isLoading]="isLoading" [loaderSize]="100"></app-spinner>
<!-- MAIN CARD -->
<div class="w-[620px] rounded-[30px] border-[8px] border-white shadow-2xl 
bg-gradient-to-br from-[#e8e5f3] via-[#f1e5e8] to-[#f7e3e6] p-8">

<!-- HEADER -->
<div class="flex items-center gap-4 mb-6">
  <div class="w-14 h-14 rounded-full bg-white flex items-center justify-center shadow">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7 text-red-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
      d="M12 14c4 0 7 2 7 4v1H5v-1c0-2 3-4 7-4zm0-2a4 4 0 100-8 4 4 0 000 8zM19 8h4m-2-2v4"/>
    </svg>
  </div>

  <div>
    <h2 class="text-3xl font-semibold text-[#4a2c2c]">Edit User Details</h2>
    <p class="text-gray-600 text-sm">Update the details for the selected user</p>
  </div>
</div>


<!-- FORM -->
<div class="bg-white/60 backdrop-blur-md rounded-2xl p-6 shadow-inner space-y-4">
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="space-y-4">
<!-- FULL NAME -->
<div>
<label class="text-gray-700 text-sm">Full Name</label>
<div class="mt-1 flex items-center border-2 border-blue-300 rounded-xl px-3 py-2 bg-white shadow-sm">
<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-red-500 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
<path stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
d="M5.121 17.804A8 8 0 1118.878 6.196M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
</svg>
<input formControlName="name"
               type="text" placeholder="Alexander Jensen"
class="w-full outline-none text-gray-700"/>
</div>

<p *ngIf="formErrors.name" class="mt-1 text-xs text-red-600 font-semibold ml-1">
            {{ formErrors.name }}
          </p>
</div>


<!-- EMAIL -->
<div>
<label class="text-gray-700 text-sm">Email Address</label>
<div class="mt-1 flex items-center border-2 border-orange-300 rounded-xl px-3 py-2 bg-white shadow-sm">
<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-red-600 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
<path stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
d="M16 12H8m8 0l-8 6m8-6l-8-6"/>
</svg>
<input  formControlName="email" type="email" placeholder="alex.jensen@email.co.uk"
class="w-full outline-none"/>
</div>
 <p *ngIf="formErrors.email" class="mt-1 text-xs text-red-600 font-semibold ml-1">
            {{ formErrors.email }}
          </p>
</div>


<!-- ROLE -->


<div>
<label class="text-gray-700 text-sm">Role</label>

<div (click)="toggleDropdown($event)" class="flex cursor-pointer items-center border-2 border-yellow-300 rounded-xl px-3 py-3 bg-[#fff4d6] shadow-sm">
  <span class="mr-3 text-yellow-600">★</span>

  <div class="relative w-full" #dropdownWrapper>

    <!-- Header -->
    <div 
         class="w-full  flex justify-between items-center">

      <span>{{ selectedRole || 'Select role --' }}</span>

      <svg xmlns="http://www.w3.org/2000/svg"
           class="w-4 h-4 transition-transform duration-200"
           [ngClass]="{'rotate-180': isDropdownOpen}"
           fill="none"
           viewBox="0 0 24 24"
           stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"/>
      </svg>

    </div>

    <!-- Dropdown -->
    <div *ngIf="isDropdownOpen"
         class="absolute  w-full mt-2 bg-white border-2 border-red-600 rounded-xl shadow-lg overflow-hidden z-50">
        <div class="px-4 py-3  bg-red-500 text-white cursor-pointer transition"> Select role</div>
      <div *ngFor="let role of roles"
           (click)="selectRole(role,$event)"
           class=" px-4 py-3 text-gray-700 hover:bg-red-500 hover:text-white cursor-pointer transition">

        {{ role }}

      </div>

    </div>

  </div>
</div>
<p *ngIf="formErrors.role" class="mt-1 text-xs text-red-600 font-semibold ml-1">
            {{ formErrors.role }}
          </p>

</div>




<!-- PHONE -->
<div>
<label class="text-gray-700 text-sm">Phone Number</label>

<div class="flex mt-1 items-center border-2 border-green-300 rounded-xl px-3 py-2 bg-white shadow-sm">
<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-green-600 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
<path stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
d="M3 5h2l3 7-2 2a16 16 0 006 6l2-2 7 3v2a2 2 0 01-2 2C10 23 1 14 1 3a2 2 0 012-2z"/>
</svg>
<input type="text" placeholder="+1 (555) 123-4567"
class="w-full outline-none"/>
</div>

</div>


<!-- PASSWORD -->



<div>
<label class="text-gray-700 text-sm">Password</label>

<div class="flex justify-between items-center border-2 border-pink-300 mt-1 rounded-xl px-3 py-2 bg-white shadow-sm">
  <div>

  🔒

  <input
    formControlName="password"
    [type]="showPassword ? 'text' : 'password'"
    placeholder="********"
    class="ml-3 w-full outline-none"
  />
  </div>

  <!-- SHOW PASSWORD ICON -->
  <button
    *ngIf="!showPassword"
    type="button"
    (click)="showPassword = true"
    class="ml-2 text-[#8B0000]"
  >
    <!-- Eye Icon -->
    <svg xmlns="http://www.w3.org/2000/svg"
         class="w-6 h-6"
         fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M15 12a3 3 0 11-6 0 3 3 0 016 0"/>
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M2.458 12C3.732 7.943 7.523 5 12 5
        c4.477 0 8.268 2.943 9.542 7
        -1.274 4.057-5.065 7-9.542 7
        -4.477 0-8.268-2.943-9.542-7z"/>
    </svg>
  </button>

  <!-- HIDE PASSWORD ICON -->
  <button
    *ngIf="showPassword"
    type="button"
    (click)="showPassword = false"
    class="ml-2 text-[#8B0000]"
  >
    <!-- Eye Slash Icon -->
    <svg xmlns="http://www.w3.org/2000/svg"
         class="w-6 h-6"
         fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M13.875 18.825A10.05 10.05 0 0112 19
        c-4.477 0-8.268-2.943-9.542-7
        a9.956 9.956 0 012.042-3.368M6.223 6.223
        A9.956 9.956 0 0112 5
        c4.477 0 8.268 2.943 9.542 7
        a9.956 9.956 0 01-4.043 5.058M15 12
        a3 3 0 11-6 0 3 3 0 016 0z"/>
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M3 3l18 18"/>
    </svg>
  </button>


</div>

<p *ngIf="formErrors.password"
   class="mt-1 text-xs text-red-600 font-semibold ml-1">
  {{ formErrors.password }}
</p>
</div>





<!-- CONFIRM PASSWORD -->
<div>
<label class="text-gray-700 text-sm">Confirm Password</label>

<div class="flex justify-between mt-1 items-center border-2 border-orange-300 rounded-xl px-3 py-2 bg-white shadow-sm">
  <div>
🔒
<input formControlName="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'" placeholder="********"
class="ml-3 w-full outline-none"/>
</div>
<button
    *ngIf="!showConfirmPassword"
    type="button"
    (click)="showConfirmPassword = true"
    class="ml-2 text-[#8B0000]"
  >
    <!-- Eye Icon -->
    <svg xmlns="http://www.w3.org/2000/svg"
         class="w-6 h-6"
         fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M15 12a3 3 0 11-6 0 3 3 0 016 0"/>
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M2.458 12C3.732 7.943 7.523 5 12 5
        c4.477 0 8.268 2.943 9.542 7
        -1.274 4.057-5.065 7-9.542 7
        -4.477 0-8.268-2.943-9.542-7z"/>
    </svg>
  </button>

  <!-- HIDE PASSWORD ICON -->
  <button
    *ngIf="showConfirmPassword"
    type="button"
    (click)="showConfirmPassword = false"
    class="ml-2 text-[#8B0000]"
  >
    <!-- Eye Slash Icon -->
    <svg xmlns="http://www.w3.org/2000/svg"
         class="w-6 h-6"
         fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M13.875 18.825A10.05 10.05 0 0112 19
        c-4.477 0-8.268-2.943-9.542-7
        a9.956 9.956 0 012.042-3.368M6.223 6.223
        A9.956 9.956 0 0112 5
        c4.477 0 8.268 2.943 9.542 7
        a9.956 9.956 0 01-4.043 5.058M15 12
        a3 3 0 11-6 0 3 3 0 016 0z"/>
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M3 3l18 18"/>
    </svg>
  </button>
</div>
<p *ngIf="formErrors.confirmPassword"
   class="mt-1 text-xs text-red-600 font-semibold ml-1">
   {{ formErrors.confirmPassword }}
</p>

</div>


<!-- BUTTON -->
<div class="pt-2">
<button type="submit" class="w-full py-4 rounded-xl text-white text-lg font-semibold
bg-gradient-to-r from-[#d91e3a] to-[#f05555] shadow-lg hover:opacity-90">
+ Update User +
</button>
</div>


<!-- CANCEL -->
<div class="text-center pt-2">
<a routerLink="/admin/userManagement" class="text-red-700 underline cursor-pointer">Cancel & Return</a>
</div>

</form>
</div>

</div>

</div>

